/* SPDX-License-Identifier: Apache-2.0 */
/delete-node/ &ramfb_mem;

&{/reserved-memory} {
    desktop_fb: framebuffer@5fc00000 {
        reg = <0x0 0x5fc00000 0x0 0x00400000>;
        no-map;
    };
};

&ramfb0 {
    memory-region = <&desktop_fb>;
    width = <800>;
    height = <600>;
};
