/*
 * SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
 * SPDX-License-Identifier: Apache-2.0
 *
 * QEMU virt with secure=off and virtualization=on boots Zephyr at EL2.
 * The PSCI conduit for this machine configuration is SMC.
 */

&{/psci} {
	method = "smc";
};
